<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    <import resource="auditoriums.xml" />
    <bean id="UserService" class="ua.epam.spring.hometask.service.UserServiceImpl" />

    <bean id="EventService" class="ua.epam.spring.hometask.service.EventServiceImpl" />

    <bean id="AuditoriumService" class="ua.epam.spring.hometask.service.AuditoriumServiceImpl">

        <constructor-arg name="auditoriumGroup" >
            <set>
                <ref bean="auditorium1" />
                <ref bean="auditorium2" />
            </set>
        </constructor-arg>
    </bean>

    <bean id="BookingService" class="ua.epam.spring.hometask.service.BookingServiceImpl">
        <constructor-arg ref="EventService"  />
        <constructor-arg ref="AuditoriumService"  />
    </bean>

    <bean id="DiscountService" class="ua.epam.spring.hometask.service.DiscountServiceImpl">
        <constructor-arg>
            <list>
                <bean id="BirthdayStrategy" class="ua.epam.spring.hometask.service.BirthdayDiscountStrategy" />
                <bean id="GroupTicketStrategy" class="ua.epam.spring.hometask.service.GroupTicketsDiscountStrategy" />
            </list>
        </constructor-arg>
    </bean>

</beans>